<div class="navbar-fixed">
	<nav class="white black-text">
		<div class="container">
			<div class="nav-wrapper white">
				<a href="/" class="brand-logo logo black-text">beAst</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					{% for item in site.data.settings.menu %}
						<li><a class="black-text" href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a></li>
					{% endfor %}
					<li><a class="black-text" href="http://stockx.com">Data from StockX</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>