---
layout: default
---
<div class="container">
	<img src="{{page.img}}" style="transform: rotate(340deg); z-index: -100; position: relative;">
	<div align="right" style="z-index: 100">
		<h1 class="name">{{page.title}}</h1>
		<h5>{{page.release}}</h5>
	</div>
	<div align="left">
		<h3 style="font-family: News Cycle">{{page.sec0}}</h3 style="font-family: News Cycle">
		<div class="cardparent">
			<section class="card-swag row">
				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img00}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url00}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name00}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img01}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url01}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name01}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img02}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url02}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name02}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img03}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url03}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name03}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img04}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url04}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name04}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<h3 style="font-family: News Cycle">{{page.sec1}}</h3 style="font-family: News Cycle">
		<div class="cardparent">
			<section class="card-swag row">
				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img10}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url10}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name10}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img11}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url11}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name11}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img12}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url12}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name12}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img13}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url13}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name13}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img14}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url14}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name14}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<h3 style="font-family: News Cycle">{{page.sec2}}</h3 style="font-family: News Cycle">
		<div class="cardparent">
			<section class="card-swag row">
				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img20}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url20}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name20}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img21}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url21}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name21}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img22}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url22}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name22}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img23}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url23}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name23}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img24}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url24}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name24}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<h3 style="font-family: News Cycle">{{page.sec3}}</h3 style="font-family: News Cycle">
		<div class="cardparent">
			<section class="card-swag row">
				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img30}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url30}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name30}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img31}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url31}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name31}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img32}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url32}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name32}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img33}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url33}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name33}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img34}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url34}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name34}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<h3 style="font-family: News Cycle">{{page.sec4}}</h3 style="font-family: News Cycle">
		<div class="cardparent">
			<section class="card-swag row">
				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img40}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url40}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name40}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img41}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url41}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name41}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img42}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url42}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name42}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img43}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url43}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name43}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img44}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url44}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name44}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<h3 style="font-family: News Cycle">{{page.sec5}}</h3 style="font-family: News Cycle">
		<div class="cardparent">
			<section class="card-swag row">
				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img50}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url50}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name50}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img51}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url51}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name51}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img52}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url52}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name52}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img53}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url53}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name53}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>

				<div class="card--content">
					<div class="card">
						<div class="card-image" style="padding: 10%">
							<img src="https://stockx.imgix.net/{{page.img54}}?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&trim=color&q=90&dpr=2&updated_at=1549427733">
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="http://stockx.com/{{page.url54}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<span class="card-title">{{page.name54}}</span>
							<p>{{post.release}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		{{content}}
	</div>
</div>